
<link rel="stylesheet" type="text/css" href="css/account.css">







<div class="buttons">

<p>Name: {{user.name}}</p>
<p>Instagram ID:{{user.ig_id}}</p>
  <ul>
  	<li>
    Media Count<a href="/c3visualization"><span> View C3</span></a>
    </li>
    <li>
	Media Count<a href="/visualization"><span>View D3</span></a>
	</li>
	<li>
	Feed Likes<a href="/new-c3"><span>View NEW-C3</span></a>
	</li>
  </ul>
</div>