<h1> Media Count of People You Follow on Instagram</h1>
<p>Click to sort by media count <button onclick="update();">Sort</button></p>

<div id="chart"></div>

<script src="js/visualization.js"></script>