
<link rel="stylesheet" type="text/css" href="css/startup.css">

<div class="header">

<h1>Login to Instagram</h1>
</div>

<div class='container'>



  <a href="/auth/instagram"><span class='pulse-button'>Login</span></a>
  
</div>