<style>

circle {
  stroke: #000;
  fill-opacity: .1;
}

</style>

<h1>Your recent likes</h1>
{{!-- <p>Click to sort by media count <button onclick="update();">Sort</button></p> --}}

<div id="chart"></div>

<script src="js/newD3Visualization.js"></script>