@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700);

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 60px;
  margin-top: -100px;
  margin-left: -200px;
}

h1{
  display: inline-block;
  height: 50px;
  vertical-align: top;
  text-align: center;
  color: rgba(0,0,0, .6);
  font: 300 46px 'Source Sans Pro';
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

}





.container {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  
}

.pulse-button {
  position: relative;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  margin-top: 250%;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}